<a [routerLink]="['/questions']"> Back </a>
<br>
<h2 class="page-header">Post a Question here!</h2>
<form (submit)="onAddSubmit()" >
  <div class="form-group">
    <input type="text" class="form-control" name="title" [(ngModel)]="title" required>  
    <select name="category" id="" [(ngModel)]="category"  >
      <option value="Campus">Campus</option>
      <option value="Books">Books</option>
      <option value="Registration">Registration</option>
      <option value="Sports">Sports</option>
    </select>
  </div>
  <input type="submit" value="submit" class="btn btn-default">
</form>