<div class="container">

  <input type="text" [(ngModel)]="term" placeholder="&nbsp;&nbsp;Search">
  <div class="drop">
    <label for="">Category</label>

    <select name="" id="">

      <option value="">Campus</option>
      <option value="">Books</option>
      <option value="">Library</option>
      <option value="">Admission</option>
      <option value="">Food</option>
      <option value="">Events</option>

    </select>
  </div>

  <!-- <div class="top">

   <div class="topa"><a href="">My Collection</a></div>
    <br>
    <div class="topa"><a href="">My questions</a></div>
    <br>

  </div> -->


  <div class="main" *ngFor="let item of questions | filter:term">
    <div class="image">
      <img src="../../../assets/images/ques.svg" alt="">
    </div>
    <h3>
      <a [routerLink]="['/question/'+item.id]">{{ item.title}}</a>
    </h3>
    
    <p>Posted By : {{ item.postedBy}}</p>
    <p>{{item.likes}} Likes &nbsp; &nbsp; &nbsp;{{item.dislikes}} Dislikes &nbsp; &nbsp; &nbsp;Add to Collection
     
    </p>

  </div>


</div>
