<div class="landing">
  <nav class="navbar">
   
        <ul class="nav navbar-nav navbar-left">
            <li class='logo'><img src='../assets/images/navlogo.svg'></li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
            <li> <a [routerLink]="['/signup']" >Register</a> </li>
            <li> <a [routerLink]="['/login']">Log In</a> </li>
          </ul>
   
    
  </nav>

  <div class="banner">
     <div class="opaq">
       </div>
     <h1>ASKING QUESTIONS IS EASY NOW</h1>
      <h3>Making life simpler and easier by ASQ</h3>

    <button type="submit" class="btn btn-default"> <a [routerLink] = "['/login']" >Get Started</a> </button>
    <p> Already a User?</p>
    <button type="submit" class="btn"> <a [routerLink] = "['/login']" >Log In</a> </button>
    


  </div>
</div>