
/************** Navbar ************** */

.navbar{

    background-color:#db5461;
    width:100%;
    top: 0;
    position: relative;
    margin-bottom: 0;

  
}

.nav li a {

    color:white;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-decoration: none;

}

.container .navbar-right li{

    padding-top:2px;
    transition:1s;

}

.container .navbar-right li:hover a{

    background-color: transparent;
    color:black;
}

a.logo{

    width:80px;
    padding:10px 0 0 25px;
  

}


/*.navbar ul:last-of-type li:first-of-type,li:first-of-type+li{

    display: none;
    visibility: hidden;
}*/

ul:first-of-type{

    display: inline-block;
}

ul:last-of-type{

    display: inline-block;
    float:right;
    padding:12px 10px 0 0;
    
    
}

span.icon-menu{

   
    color: white;

  
}

/* ********** Banner ********** */

.banner{

    background: url('../../../assets/images/wallpaper.png');
    background-size: cover;
    height: 60vh;
    position: relative;
    max-width: 100%;
}

.opaq{

    width:100%;
    height:60vh;
    background: url('../../../assets/images/bg.png');
    background-size: cover;
   
    z-index: 2;
}

.landing .banner h1{

    color:white;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    
    position: absolute;
    top:10%;
    left:0;
    right:0;
   font-size: 2.5rem;
   text-align: center;
   margin: 0 auto;
    z-index: 4;
 
    
}

.landing .banner h3{

    color:white;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    
    position: absolute;
    top:15%;
    left:0;
    right:0;
   font-size: 2rem;
   padding-top: 40px;
  
    text-align: center;
   
   
    z-index: 4;

}

.landing .banner button:first-of-type{

    position: absolute;
    top:30%;
    left:0;
    right:0;
    width:175px;
   
    margin: 0 auto;
    margin-top: 45px;
  
    z-index: 4;

    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    background:#DB5461;
    border: none;
}

.landing .banner button:first-of-type a{

    text-decoration: none;
    color: white;
}

.landing .banner button:first-of-type:hover{

    background:white;
    transition: 1s;

}

.landing .banner button:first-of-type:hover a{

    color:#db5461;
}

.landing .banner p{

    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    color: white;

    position: absolute;
    top:50%;
    left:0;
    right:0;
    padding-top: 30px;
    
    text-align: center;
   
}

.landing .banner button:last-of-type{
    
        position: absolute;
        top:60%;
        left:0;
        right:0;
        width:175px;
       
        margin: 0 auto;
        margin-top: 40px;
      
        z-index: 4;
    
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 1.75rem;
        background:white;
        border: none;
    }
    
    .landing .banner button:last-of-type a{
    
        text-decoration: none;
        color:#db5461;
    }

    .landing .banner button:last-of-type:hover{
        
            background:#db5461;
            transition: 1s;
        
        }
        
        .landing .banner button:last-of-type:hover a{
        
            color:white;
        }


    /* CONTENT */

    .content{

        background-color:white;
        width:100%;
        height:40vh;
        padding-top: 30px;
    }

    .content h1{

        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        text-align: center;
        /* font-size: 1.75rem; */
    }

    .content p{
 

        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        margin: 30px 55px;

    }


    /* Desktop Version */

    @media screen and (min-width:700px) {

        /* NAVBAR */

        .navbar ul:last-of-type li:first-of-type,li:first-of-type+li{
            
                display: inline-block;
                /*visibility: visible;*/
            }

       /* .navbar ul:last-of-type span{

            display: none;
            visibility: hidden;
        }*/

        .navbar ul:last-of-type li:first-of-type a,li:first-of-type+li a{

            font-size: 1.75rem;
            padding-top: 2px;
            padding-right: 25px;
        }

      

        .landing .banner h1{

            font-size: 3.75rem;
        }

        .landing .banner h3{

            font-size: 2.75rem;
        }

        .content h1{

            font-size: 3.75rem;
        }

        .content p{

            font-size: 2rem;
        }
        
    }