<div class="wrapper">
  <div class="opaq"></div>
  <div class="container">
    <div class="logo">

      <img src="assets/images/logo.svg">

    </div>
    <form action="#">
      <div class="form-group">

        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" [(ngModel)]="email" name="email">
      </div>
      <div class="form-group">

        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="password">
      </div>
      <button type="submit" class="btn btn-default" (click)="login()">Log In</button>

      <p>New User?</p>

      <button type="submit" class="btn btn-default">
        <a [routerLink]="['/signup']">Sign Up</a>
      </button>
    </form>
  </div>
</div>