/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800');

.cloudinary-button{

	background-color:transparent;
	font-family: 'Nunito', sans-serif;
	border-radius: 0px;
	background: #f7fafc;
	color:#DB5461;
	border: 1px solid #DB5461;
	width:60%;
	text-align: center;
	/*margin-left: 110px;	*/
	
	margin: 0 auto;

	display: block;
}

.cloudinary-button:hover{

	background: #DB5461;
	color: #fff;
	text-decoration: none;
}

body{
	
		background: url('assets/images/bg.png'),url('assets/images/wallpaper.png');
		background-size: cover,cover;
		background-repeat: no-repeat;
		}

		


